{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Youflix | Profile</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_files %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% if user.is_authenticated %}
    <div class="user_profile_container">
        <h1>Welcome, {{ user.username }}!</h1>
        <p>This is your profile content.</p>

        <h2>Your Watched Movies</h2>
        {% if watched_movies %}
        <div class="watched_movies_list">
            {% for movie in watched_movies %}
            <div class="movie-item">
                <div class="movie-poster-container">
                    <img src="{{ movie.poster_link }}" alt="{{ movie.series_title }}" class="movie-poster">
                </div>
                <div class="movie-details">
                    <h2>{{ movie.series_title }}</h2>
                    <div class="movie-info-container">
                        <p><strong>Genre:</strong> {{ movie.genre }}</p>
                        <p><strong>Stars:</strong> {{ movie.star1 }}, {{ movie.star2 }}, {{ movie.star3 }}</p>
                        <p><strong>Director:</strong> {{ movie.director }}</p>
                        <p><strong>Release Year:</strong> {{ movie.released_year }}</p>
                    </div>
                    <div class="movie-description">
                        <p>{{ movie.overview }}</p>
                    </div>
                    <div class="button-container">
                        <button class="btn remove-from-watchlist" data-movie-id="{{ movie.id }}">Remove from Watchlist</button>
                        <button class="btn rate-movie" data-movie-id="{{ movie.id }}">
                            {% if ratings|get_item:movie.id %}
                                Change Rating ({{ ratings|get_item:movie.id }})
                            {% else %}
                                Rate
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You haven't added any movies to your watched list yet.</p>
        {% endif %}
    </div>

    <div class="footer-links mt-4">
        <div class="d-flex justify-content-center links">
            Not you? <a href="{% url 'user_logout' %}" class="ml-2">Logout</a>
        </div>
    </div>

    {% else %}
    <p>You need to log in to view this page.</p>
    <div class="footer-links mt-4">
        <div class="d-flex justify-content-center links">
            <a href="{% url 'login' %}" class="ml-2">Login</a>
        </div>
    </div>
    {% endif %}
    {% endblock %}

    {% block js_files %}
        <script>
            window.removeFromWatchlistUrl = '{% url "remove_from_watchlist" %}'; // Pass the URL to JavaScript
            window.rateMovieUrl = '{% url "rate_movie" %}'; // Pass the URL to JavaScript
        </script>
        <script src="{% static 'js/remove_from_watchlist.js' %}" defer></script>
        <script src="{% static 'js/rate_movie.js' %}" defer></script>
    {% endblock %}
</body>
